<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Register page</title>
</head>
<body>
  <div class = "loginForm">
      <form action="/register" method = "post">
        <label class = "formTitle">
          Register Form

          <% if (failed) {%>
            
            <% (errors || []).forEach(item => { %>
              <p class = "error"><%= item.msg %></p>
            <%})%> 
          <%}%> 
         </label>
         <p>
            <input class = "inputForm" type="text" name = "email" placeholder = "Enter your email">
        </p>
         
        <p>
          <input class = "inputForm" type="password" name = "password" placeholder="Enter your password">
        </p>
        <p>
          <input class = "inputForm" type="password" name = "confirmPassword" placeholder="Enter the password again">
        </p>
          <p>
          <input class = "btnSubmit" type="submit" value = "Registration">
        </p>
        maybe
        <a class = "forgotLink" disabled="disabled" href = "/forgotPassword">
          You forgot your password
        </a>
      </form>
  </div>
 
</body>
</html>
